- content_for :title, @world.title

%h1= @world.title

%h2.field-label Core concept
%p.world-core-concept= simple_format(@world.core_concept)

%p.page-links
  = link_to "Edit", edit_world_path(@world)
  &middot;
  = link_to "Back to worlds", worlds_path
  &middot;
  = button_to "Delete", @world, method: :delete, form: { data: { turbo_confirm: "Delete this world?" } }
