<% content_for :title, "Register" %>

<h1>Create an account</h1>

<%= form_with model: @user, url: register_path, method: :post do |form| %>
  <% if @user.errors.any? %>
    <div class="form-errors">
      <strong><%= pluralize(@user.errors.count, "error") %> prevented your account from being created:</strong>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-field">
    <%= form.label :username %>
    <%= form.text_field :username, autocomplete: "username", autofocus: true %>
  </div>

  <div class="form-field">
    <%= form.label :password %>
    <%= form.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="form-field">
    <%= form.label :password_confirmation, "Confirm password" %>
    <%= form.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="recaptcha-field">
    <%= recaptcha_tags %>
  </div>

  <%= form.button "Register" %>
<% end %>

<p class="page-links">
  Already have an account? <%= link_to "Sign in", login_path %>
</p>
